.navbar a {
    font-size: 25px;
    
}




.lead {
    color: black;
    font-size: 20px;
    
}

.jumbotron {
    background-color: transparent;
    background: url("../images/jumbotron.jpg");
    background-size: cover;
    z-index: 10;
    padding: 150px;
}

.sectionHeading {
    color: grey;
}

.col_3 {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: min-content;

}

.row {
    padding: 50px;

}

.row_valueProp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.Aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-left: 50px;


}

.content {
    /* padding-left: 50px; */
}

.image-style {
    max-width: max-content;
    height: auto;
}

.center-me {
    /* margin: 0 auto; */
}

.anchor-class:hover {
    font-size: 2rem;
}

.button-class:hover {
    box-shadow: 10px 5px 5px red;
}

