
.navbar a {
    font-size: 20px;
    color: blue ;
}


.display-4, {
    font-size: 50px ;
    color: rgb(18, 17, 17);
    justify-content: center;
    
}

.lead {
    color: black;
   font-size: 20px;
}

.jumbotron {
    background-color: transparent;
    background: url("../images/jumbotron.jpg");
    background-size: cover;
    z-index: 10;
    padding: 150px;
}

.sectionHeading {
    color: grey;
}

.col-3 {
    display: flex;
 height: 300px;;
 
}
.row {
    padding: 50px;

}

.Aboutme {
    margin-right: 200px;
    align-items: center;
    justify-content: center;
}

.AboutmeContainer {
display: flex;
justify-content: center;
align-content: center;

}